extends ./layout.jade


block content
  .page-full.bg-home
    button.button.button-greenlight Greenlight Us
    i.fa.fa-chevron-down.icon-next-slide.js-slider
  .page-full.container-fluid
    h1 The Project
    h3 Know more about the project
  .page-full.container-fluid
    h1 The Products
    h3 Meet the Rotfather products
  .page-full.container-fluid
    h1 Contact
    h3 Contact us