body {
	color: white;
	font-size: 16px;
}

h1 {
	@include type-settings(4);
	margin-top: $baseline/2;
	margin-bottom: $baseline;
	text-transform: uppercase;
	font-weight: 100;
}
h2{
	@include type-settings(3);
	margin-top: $baseline/2;
	margin-bottom: $baseline;
}
h3{
	@include type-settings(2);
	margin-top: $baseline/2;
	margin-bottom: $baseline;
}
h4{
	@include type-settings(1);
	margin-top: $baseline/2;
	margin-bottom: $baseline;
}
h5 {
	font-weight: bold;
	font-size: $base-font-size;
}
p {
	@include type-settings(0);
	margin-top: $baseline/2;
	margin-bottom: $baseline;
}