$unit: 1em;
$base-font-size: 1em;
$font-ratio: 1.25;
$baseline: 22px;

$font-title: 'Futura', 'Trebuchet MS', 'Arial', sans-serif;

/* NAV */
$nav-height: 60px;
$nav-bg-color: black;
$logo-height: 90px;
$logo-width: $logo-height;