extends ./layout.jade

block content
  .page-full.bg-game
  .page-full.container-fluid.bg-gray
    .row.vertical-center
      .col-xs-12.col-sm-3
        h2 Story
      .col-xs-12.col-sm-6
        p This is the story of a rat called Al Kane, who lives in New York's sewers in the 40s. 
          | During the underworlds prohibition of sugar commercialization he built an empire out of trafficking, 
          | creating a very powerful mafia system. But after the mysterious death of his right-hand man, 
          | he was betrayed, beaten up and left for dead by the hands of a cockroach gang. Now he is back to figure out what 
          | happened and who betrayed him.
        p He will try to recover his empire, each area at a time, exploring a sewer system that is connected by complex pathways. 
          | He also has to free his partners who controlled each of the sugar distribution points. Immersed in a sea of intrigue, 
          | where animals and insects live and work both together and against each other, he doesn't know who to trust. 
          | The only thing he knows is where everything begins: in Madam Laura's Cabaret...
  .page-full.container-fluid.bg-black
    .row
      .col-xs-12
        h2 Characters
      .col-xs-12.col-sm-4
        .list
          .list__item
            .thumbnail.list__image
              img(src="/imgs/characters/kane.jpg")
            .list__text 
              q Traição só pode ser lavada com sangue.
              p - Kane
          .list__item
            .thumbnail.list__image
              img(src="/imgs/characters/kane.jpg")
            .list__text 
              q Um novo sol no ocidente.
              p - Oyabun 
      .col-xs-12.col-sm-4
          .list
            .list__item
              .thumbnail.list__image
                img(src="/imgs/characters/kane.jpg")
              .list__text 
                q Pode-se tecer qualquer coisa. Veja bem, até mentiras.
                p - Madame Laura
          .list__item
            .thumbnail.list__image
              img(src="/imgs/characters/kane.jpg")
            .list__text 
              q Me ouça agora, e no futuro não será tarde demais.
              p - Nineta
      .col-xs-12.col-sm-4
          .list__item
            .thumbnail.list__image
              img(src="/imgs/characters/kane.jpg")
            .list__text 
              q Quase todos os caminhos nessa cidade levam a injustiça.
              p - Pistone
  .row.page
    .col-xs-12
      h2 Concept Arts
    .col-md-6
      h3 Cidade dos Ratos
      .thumbnail--large
        img(src="/imgs/bgs/rat_city.jpg")
    .col-md-6
      h3 Cabaret
      .thumbnail--large
        img(src="/imgs/bgs/cabaret.jpg")
    .col-xs-12
      h3 Os sapos
      img(src="/imgs/bgs/sapos.jpg")