extends ./layout.jade

block content
  .page-full.bg-1
    button.button.button-greenlight Greenlight Us
    i.fa.fa-chevron-down.icon-next-slide.js-slider
  .page-full.container-fluid
    h1 The Project
  .page-full.container-fluid
    h1 The Products
  .page-full.container-fluid
    h1 Contact