extends ./layout.jade

block content
  .page-full.bg-black
    .item--huge
      .item__text
        h2 Animation
        p A web série animada 2D se subdvide em 4 temporadas, apresentando em detalhes as histórias do universo 
          | mafioso de Al Kane, na década de 40, em Nova York.
      .item__image.item__image
        .thumbnail.thumbnail--large
          img(src="imgs/products/animation.jpg")
  .page-full.bg-gray
    .item--huge
      .item__text
        h2 The Comics
        p Os quadrinhos trazem, de forma independente, a história de cada um dos personagens que habitam os esgotos de Nova York. O primeiro quadrinho apresenta o universo do Sapo Oyabun, que sai de sua terra natal Toquio, após o
          | assassinato de seu dono, para ir a América estruturar uma célula da mafia japoneza nos rios que se ligam aos esgotos de Kane.
      .item__image.item__image--right
        .thumbnail.thumbnail--large
          img(src="imgs/products/hq.jpg")
  .page-full.bg-red
    .item--huge
      .item__text
        h2 Book
        p O livro policial conta as aventuras de um dos personagens do submundo dos esgotos, o detetive Pistone. O 
          | leitor é convidado a sentir-se como o protagonista que, embora seja policial, é amigo de infância do mafioso Al 
          | Kane e, por este motivo, vive um drama existencial sempre que se depara com crimes em que Kane está 
          | envolvido.
      .item__image.item__image
        .thumbnail.thumbnail--large
          img(src="imgs/products/Livro.jpg")
  .page-full.bg-black
    .item--huge
      .item__text
        h2 The Board Game
        p O jogo de tabuleiro traz consigo aspectos diferenciados da história
          | mafiosa que permeia o universo dos esgotos na década de 40, en Nova York, colocando o jogador no lugar de algum clã de personagens que
          | habitam o universo dos esgotos, para que lidem com o comércio mafioso de açúcar e demais objetos, e se deparem com a necessidade de criar intrigas e conspirações durante este processo.
      .item__image.item__image--right
        .thumbnail.thumbnail--large
  .page-full.bg-gray
    .item--huge
      .item__text
        h2 The Card Game
        p The Rotfather possui 03 jogos de cartas. Um dos jogos aborda o processo de intriga entre os clãs, o outro oferece a
          | possibilidade de criação de artimanhas relacionadas ao contrabando de objetos, e o terceiro coloca o jogador 
          | em situações de ostentação.
      .item__image.item__image--right
        .thumbnail.thumbnail--large
          img(src="imgs/products/card_game.jpg")
  .page-full.bg-red
    .item--huge
      .item__text
        h2 Licensed Products
        p The Rotfather possui vários produtos licenciados, bonecos, canecas, camisetas, bottons, chaveiros, dentre outros em desenvolvimento
      .item__image.item__image
        .thumbnail.thumbnail--large
          img(src="imgs/products/mug.jpg")