extends ./layout.jade

block content
  .container
    .row
      .col-xs-8
        h1 WHO WE ARE
        p O projeto The Rotfather é desenvolvido pelo grupo de pesquisa G2E - Grupo de Educacao e Entretenimento do curso de Design da Universidade Federal de Santa Catarina.
        p O projeto se estrutura em um sistema transmídia que busca apresentar o universo de alternativas
          | viáveis as indústrias criativas ligadas a área do entretenimento, em que o centro para a ramificação das demais 
          | mídias é o jogo de videogame 2D, para plataforma PC The Rotfather.
    .row
      .col-xs-6
        h5 COORDINATION / PRODUCER
        ul
          li Mônica Stein 
        h5 DESIGN MANAGEMENT
        ul
          li Mônica Stein
          li  Felipe Pletz
          li  Fernanda Becker
          li  Felix Li Han Huang
          li  Gabriel Comelli Werlich
          li  Rebeca Caroline Acco
        h5 ANIMAÇÃO
        ul
          li Agenor Furigo Neto
          li André Lazzari
          li Henrique Cardoso da Rosa
          li Ésley Turnes de Carvalho
          li Alex de Freitas Cardozo 
          li Lucas Villalva
        h5 ARTE
        ul
          li Alex Freitas
          li Bruno Flesch
          li Ingrid Mitchell Brehm
          li Klewerton Bortoli
          li Lucas Villalva
          li Rebeca Caroline Acco
          li Wesley Alberto Alves
          li Yukatan Gautama
          li Paulo Henrique Scabeni 
          li Neandro Henrique Marques Corradi
        h5 BOARD GAMES
        ul
          li Rafael Arrivabene
        h5 PRODUTOS LICENCIADOS
        ul 
          li Gabriela Veiga
        h5 TRADUTORA
        ul
          li Maria Isabel de Castro Lima
      .col-xs-6    
        h5 AUDIO
        ul
          li Alexandre Lunardelli
          li César Alves
          li Marcelo Rosa
        h5 GAME
        ul
          li Ancilon Leuch Alencar
          li Gabriel Capeletti
          li Eduardo Barbetta
          li Luiz Antonio M. de Paula
          li Paulo Henrique Scabeni
          li Rodrigo Veras Burigo
        h5 ROTEIRO
        ul
          li André Sichieri
          li Nino Piskorski
          li Pedro Barrionuevo
          li Rania Suwidan
        h5 3D
        ul
          li Fernanda Silveira
          li Gabriel Comelli Werlich
          li Maria Melo
          li Manuel Canavarros
          li Vanessa Deluca
          li George Valentini Borges
        h5 VOICEOVER
        ul 
          li Pedro Barrionuevo
          li João Ilha
        h5 UI DESIGNER
        ul
          li Marcos Lehmkuhl
          li Fernanda Becker
        h5 ASSESSORIA DE IMPRENSA
        ul 
          li Sarah Soares



    