nav.nav
	a.nav__logo(href="/")
		img(src="imgs/logo.png")
	ul.nav__bar
		li.nav__item
			a(href="/game") Game
		li.nav__item
			a(href="project") Project
		li.nav__item
			a(href="products") Products
		li.nav__item
			a(href="contact") Contact
		li.nav__item.nav__item--small
			a(href="#") Pt