nav.nav
	a.nav__logo(href="/")
		img(src="imgs/logo.png")
	.button.button-responsive.js-btn-responsive
	ul.nav__bar.is-closed
		li.nav__item
			a(href="/") Home
		li.nav__item
			a(href="game") Game
		li.nav__item
			a(href="project") Project
		li.nav__item
			a(href="products") Products
		li.nav__item
			a(href="contact") Contact
		ul.nav__bar--media
			li.nav__item.nav__item--small
				a(href="#")
					.fa.fa-twitter
			li.nav__item.nav__item--small
				a(href="#")
					.fa.fa-facebook
			li.nav__item.nav__item--small
				a(href="#") en