.button {
	display: inline-block;
	border: 0;
	padding: 0.5em 1em;
}

.button--ghost {
	background: transparent;
	border: 2px solid white;
	color: white;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	font-size: pow($font-ratio,2) + em;
	font-weight: bold;
	text-shadow: 3px 3px rgba(0, 0, 1, 0.42);
	box-shadow: 3px 3px rgba(0, 0, 1, 0.42);
	&:hover {
		background-color: $red;
		color: white;
		border-color: $dark-red;
	}
}

.button-greenlight {
	@extend .button--ghost;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%);
	width: 90%;
	font-size: 22px;
	@include bp(600px) {
		width: auto;
	}
}

.icon-next-slide {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%);
	color: white;
	font-size: 3em;
}

.button-responsive {
	height: 64px;
	line-height: 64px;
	width: 64px;
	float: right;
	cursor: pointer;
	text-align: center;
	padding: 0;
	&:after {
		content:'\f0C9';
		font-family: "FontAwesome";
		font-size: 24px;
	}
	@include bp(600px) {
		display: none;
	}
}