img {
	width: 100%;
	max-width: 100%;
}

.thumbnail {
	width: 100px;
	height: 120px;
	overflow: hidden;
	padding: 0;
	border: 0;
	img {
		max-width: 100%;
		width: 100%;
	}
}

.thumbnail--large {
	width: 100%;
	height: auto;
	max-height: 400px;
	overflow: hidden;
	margin-bottom: $baseline;
	img {
		width: 100%;
	}
}