.bg-home {
	background: url('../imgs/bgs/home.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.bg-rat_city {
	background: url('../imgs/bgs/rat_city.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.bg-cabaret {
	background: url('../imgs/bgs/cabaret.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.bg-game {
	background: url('../imgs/bgs/game.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.page-full {
	height: 100%;
	width: 100%;
	position: relative;
	padding: $unit * 2;
}

.bg-black {
	background-color: black;
	color: white;
}

.bg-gray {
	background-color: gray;
	color: white;
}