.bg-1 {
	background: url('../imgs/bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.bg-rat_city {
	background: url('../imgs/rat_city.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.bg-cabaret {
	background: url('../imgs/cabaret.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.page-full {
	height: 100%;
	width: 100%;
	position: relative;
	padding: $unit * 2;
}

.bg-black {
	background-color: black;
	color: white;
}

.bg-gray {
	background-color: gray;
	color: white;
}