.bg-home {
	background: url('/imgs/bgs/home.jpg');
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
}

.bg-rat_city {
	background: url('/imgs/bgs/rat_city.jpg');
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
}

.bg-cabaret {
	background: url('/imgs/bgs/cabaret.jpg');
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
}

.bg-game {
	background: url('/imgs/bgs/game.jpg');
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;		
}

.page-full {
	@include bp(600px) {	
		height: 100%;
		width: 100%;
		position: relative;
		padding: $unit * 2;
		overflow: hidden;
		.vertical-center {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.page {
	padding: $unit * 2;
}

.bg-black {
	background-color: $black;
	color: white;
}

.bg-gray {
	background-color: #20231F;
	color: white;
}

.bg-red {
	background-color: $red;
	color: white;
}

.bg-green {
	background-color: $green;
	color: white;
}

[class*='bg-'] {
	color: white;
	padding: 2em;
}