.nav {
	display: block;
	position: fixed;
	top: 0;
	background-color: $nav-bg-color;
	width: 100%;
	height: 4em;
	font-family: $font-title;
	text-transform: uppercase;
	z-index: 9999;
	overflow: hidden;
}
.nav__logo {
	position: absolute;
	height: $logo-height;
	width: $logo-width;
  left: 100px;
  top: 0;
  z-index: 1000;
  background-color: $nav-bg-color;
  padding: 1.5em $unit 0.5em $unit;
	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.nav__bar {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
		color: white;
	}
}

.nav__item {
	display: inline-block;
	height:4em;
	line-height:4em;
	padding: 0 $unit;
	a {
		@include type-settings(-1);
	}
	&--small {
		text-transform: uppercase;
	}
}